target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
*.class

# IntelliJ
.idea/
*.iml
*.iws

# Eclipse
.classpath
.project
.settings/

# Secrets
application.properties
src/main/resources/application.properties
